<div class="container">
    <input 
    class="text" 
    id="textbox" 
    #input
    placeholder="Amadeus" 
    [readonly]="readonly"
    [(ngModel)]="message"
    (click)="handleClick()"
    (keydown)="handleKeydown($event)"
    (ngModelChange)="handleTextChange($event)">
    <div class="upload-btn-wrapper">
        <button class="attachment">
            <img src="../../../assets/icon/icon_camera.svg">
        </button>
        <input type="file"/>
    </div>
    <button class="emoji-picker-launcher" (click)="togglePicker($event)">😃</button>
    <span style="color:#d1d1d1" *ngIf="characterCount">{{characterCount}}/160</span>
</div>
<amadeus-emoji-picker ></amadeus-emoji-picker>
