.button-icon {
    display: inline-block;
    height: 100%;
    margin-right: 15px;
    width: 40px;
}

.category-title {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.settings-pane {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    border-right: 1px solid #dddddd;
}

.settings-options {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.settings-category-button {
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 5px 15px;
    position: relative;
}

.settings-category-button:after {
    background-color: #e0dfe4;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    right: 0;
    width: 80%;
}

.wrapper {
    background-color: #e8e9ef;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}