<div class="container">
    <amadeus-sidebar 
        [class.hide]="!showSidebarOnMobile"
        (click)="toggleSidebar()"
        [currentlySelectedConversationPhoneNumber]="currentlySelectedConversationPhoneNumber"
        [threads]="threads" 
        (setThreadAsSelected)="setCurrentlySelectedThread($event)">
    </amadeus-sidebar>
    <div class="message-container">
        <amadeus-message-container-header [headerInfo]="conversation">
            <a class="title-messages" (click)="toggleSidebar()">Messages </a>
        </amadeus-message-container-header>
        <!-- <amadeus-settings-button></amadeus-settings-button> -->
        <amadeus-conversation 
        [messages]="messages"
        [userPhoneNumber]="userPhoneNumber">
        </amadeus-conversation>
        <amadeus-connection-status [connected]="socketConnected"></amadeus-connection-status>
        <amadeus-response-area (sendMessage)="sendMessage($event)"></amadeus-response-area>
    </div>
</div>