<div class="container">
    <div class="bar" [class.hide]="!showSidebarOnMobile">
        <amadeus-searchbar></amadeus-searchbar>
        <amadeus-thread-tab 
        *ngFor="let thread of threads" 
        [class.active]="thread.address === currentlySelectedConversationPhoneNumber"
        [thread]="thread"
        (click)="setCurrentlySelectedThread(thread);toggleSidebar()"></amadeus-thread-tab>
    </div>      
    <div class="message-container">
        <div class="header-wrapper">
            <amadeus-message-container-header [headerInfo]="conversation">
                <a class="title-messages" (click)="toggleSidebar()">Messages </a>
            </amadeus-message-container-header>
            <amadeus-settings-button></amadeus-settings-button>
        </div>
        <amadeus-loading-spinner 
            type="large" 
            *ngIf="loadingConversation"></amadeus-loading-spinner>
        <amadeus-conversation 
            [messages]="messages"
            [userPhoneNumber]="userPhoneNumber">
        </amadeus-conversation>
        <amadeus-connection-status [connected]="socketConnected"></amadeus-connection-status>
        <amadeus-response-area (sendMessage)="sendMessage($event)"></amadeus-response-area>
    </div>
</div>