.settings-btn-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.settings-btn {
    border-radius: 15px;
    height: 50px;
}

.settings-btn img {
    height: 100%;
}