::-webkit-scrollbar {
    display: none;
}

:host {
    border-right: 1px solid #dddddd;
    min-width: 400px;
    overflow-y: hidden;
    width: 400px;
}

.bar {
    background-color: #e9eaef;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 420px) {
    :host, .bar {
        display: none;
        width: 0;
    }

    :host.show-mobile {
        height: 100%;
        display: block;
        position: absolute;
        width: 100%;
        z-index: 100;
    }

    :host.show-mobile .bar {
        display: block;
    }
}