:host {

}

amadeus-conversation {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    overflow-y: scroll;
}

amadeus-message-container-header {
    width: 100%;
}

amadeus-response-area {
    width: 100%;
}

amadeus-settings-button {
}

.wrapper {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}