:host {

}

amadeus-conversation {
    overflow-y: scroll;
}

amadeus-message-container-header {
    flex-basis: 96%;
}

amadeus-response-area {
    flex-basis: 100%;
}

amadeus-settings-button {
    flex-basis: 3%;
}

.wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}