<div class="background">
  <div class="floater">

    <div class="container">

      <div class="logo">
        <img src="assets/img/amadeuslogo.jpg" height="95px" width="95px">
      </div>


      <h2>
        Amadeus
      </h2>


      <div>
        Amadeus messages can be sent between Android phones and the browser.
        <br>
        <br>
        <a class="link" routerLink="learn-more">Learn more about Amadeus</a>
      </div>



      <form [formGroup]="authForm" (ngSubmit)="handleSignIn()">

        <ul class="login-fields">

          <li class="field-name divider">Amadeus ID</li>
          <li class="field divider">
            <input class="input" formControlName="emailAddress" type="text" />
          </li>

          <li class="field-name">Password</li>
          <li class="field">
            <input class="input" formControlName="password" type="password">
          </li>

        </ul>

        <div class="">
          <button type="submit">Sign in</button>
        </div>
        <div class="">
          <button routerLink="/create-account" type="button">Create an account</button>
        </div>

      </form>
    </div>

  </div>
</div>