div {
    color: #434343;
}

form {
    width: 100%;
}

img {
    border-radius: 10px;
}

input {
    background: transparent;
    border: none;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

.button-wrapper {
    text-align: center;
}

.container {
    align-items: center;
    background-color: white;
    background-image: url("../../../assets/img/blurbackground.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}

.learn-more {
    color: #58a6eb;
    font-weight: bold;
}

.login-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    margin: 0 auto;
    width: 70%;
}

.login-fields {
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.login-fields .field-name {
    flex-basis: 30%;
    padding: 15px 20px;
}

.login-fields .field {
    flex-basis: 50%;
    flex-grow: 1;
    padding: 5px 0;
}

.login-fields .divider {
    border-bottom: 2px solid #cdcdcd;
}

.logo-row {
    margin: 50px 0;
}

.sign-in {
    background: transparent;
    border: transparent;
    color: #58a6eb;
    font-size: 36px;
}

.sign-in:active {
    color: #2d567b;
}


.subtitle {
    text-align: center;
}

.title {
    font-size: 48px;
}

.wrapper {
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 5px #6b6d6f;
    height: 80%;
    max-width: 50%;
    padding: 10px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 420px) {
    .login-container {
        height: 100%;
        width: 100%;
    }
}