.background {
    align-items: center;
    background-color: white;
    background-image: url("../../../assets/img/blurbackground.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

.floater {
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 5px #6b6d6f;
    height: 80%;
    max-width: 100%;
    padding: 10px;
}

.login-fields {
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.login-fields .field-name {
    flex-basis: 30%;
    padding: 15px 20px;
}

.login-fields .field {
    flex-basis: 50%;
    flex-grow: 1;
    padding: 5px 0;
}

.login-fields .divider {
    border-bottom: 2px solid #cdcdcd;
}

.logo {
    margin: 50px 0;
}

.logo img {
    border-radius: 10px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 420px) {
    .container {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .floater {
        border-radius: 0;
        height: 100%;
    }
}

@media only screen and (max-height: 650px) {
    .floater {
        border-radius: 0;
        height: 100%;
    }
}