<div class="container">
  <div class="wrapper">

    <div class="login-container">
      
      <div class="logo-row">
        <img src="assets/img/amadeuslogo.jpg" height="95px" width="95px">
      </div>


      <div class="title">
        Amadeus
      </div>


      <div class="subtitle">
        Amadeus messages can be sent between Android phones and the browser.
        <br>
        <br>
        <a class="learn-more" routerLink="learn-more">Learn more about Amadeus</a>
      </div>



      <form [formGroup]="authForm" (ngSubmit)="handleSignIn()">

        <ul class="login-fields">

          <li class="field-name divider">Amadeus ID</li>
          <li class="field divider">
            <input formControlName="emailAddress" type="text" />
          </li>

          <li class="field-name">Password</li>
          <li class="field">
            <input formControlName="password" type="password">
          </li>

        </ul>

        <div class="button-wrapper">
          <button class="sign-in" type="submit">Sign in</button>
        </div>
        <div class="button-wrapper">
          <button class="create-account" routerLink="/create-account" type="button">Create an account</button>
        </div>

      </form>
    </div>

  </div>
</div>